<div class="container">
    <h1>TRANG CHỦ CÁ NHÂN</h1>
    <h5>Bạn có thể đăng nhập để xem Blog</h5>
    <% if current_user %>
    <p>Đã đăng nhập tài khoản <%= current_user.email %></p>
    <%= link_to "Đăng xuất", destroy_user_session_path, class:"btn btn-secondary", method: :delete, data: {
    turbo_method: :delete} %>
    <% else %>
    <%= link_to"Đăng nhập", new_user_session_path, class:"btn btn-primary"  %>
    <%= link_to"Đăng Ký", new_user_registration_path, class:"btn btn-primary" %>
    <% end %>
    <%= link_to "Trang Blog", posts_path, class:"btn btn-primary" %>
</div>