<div id="<%= dom_id post %>">
  <h2><%= post.title %></h2>
  <h4>Được viết bởi tài khoản <%= link_to post.user.name, user_path(post.user) %></h4>
  <h6><%= pluralize(post.views, "view") %></h6>
  <div class="p-4 border border-gray-300 rounded-lg">
    <%= post.body %>
  </div>
</div>
