<div class="container">
  <%= render @post %>
  <div>
    <%= link_to "Chỉnh sửa bài", edit_post_path(@post),class:"btn btn-primary"%>
    <%= link_to "Trở về", posts_path, class:"btn btn-primary"%>
    <%= button_to "Xóa bài", @post, method: :delete %>
  </div>
</div>
<div class="container">
  <%= render 'comments/form',
    post: @post,
    comment: @post.comments.build,
    submit_label:"Trả lời" %>
    <% @comment.each do|comment|%>
      <%= render 'comments/comment',
      post: @post,
      comment: comment %>
  <% end %>
</div>